$Bshadow_type01:5px 10px 8px #ececec;
$Border_type01:1px solid #d0d0d0;
$basic_type01:#fff;
@font-face {
	font-family: "NanumBarunGothic";
	font-style: normal;
	src: url(assets/fonts/NanumBarunGothic.eot);
	src: url(assets/fonts/NanumBarunGothic.eot?#iefix) format("embedded-opentype"), url(assets/fonts/NanumBarunGothic.woff) format("woff"), url(assets/fonts/NanumBarunGothic.woff2) format("woff2");
}
@font-face {
	font-family: "OpenSans";
	font-style: normal;
	src: url(assets/fonts/OpenSans-Light.eot);
	src: url(assets/fonts/OpenSans-Light.eot?#iefix) format("embedded-opentype"), url(assets/fonts/OpenSans-Light.woff) format("woff"), url(assets/fonts/OpenSans-Light.woff2) format("woff2");
}
@mixin boxSizing() {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}
body.default{position:relative; overflow:hidden;}
/* 팝업 브라우저 이상일 경우 pop-scroll 추가 */
.pop-scroll { overflow-y:scroll;
scrollbar-face-color:#ffffff;
scrollbar-highlight-color: #ffffff;
scrollbar-3dlight-color: #ffffff;
scrollbar-shadow-color: #ffffff;
scrollbar-darkshadow-color: #ffffff;
scrollbar-track-color: #ffffff;
scrollbar-arrow-color:#ffffff;
}
.pop-scroll::-webkit-scrollbar {width: 0px; height: 0px;}
.pop-scroll::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background:$basic_type01}
.pop-scroll::-webkit-scrollbar-track {background:$basic_type01; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0)}
.pop-scroll::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,0); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0)}
/* 팝업 브라우저 이상일 경우 pop-scroll 추가 */
.hide{display:none;}
.clearfix{*zoom:1;}
.clearfix:after{content:""; display:block; clear:both;}
/* input 커스텀 */
input[type="checkbox"],
input[type="radio"] { display:none; opacity: 0; filter: alpha(opacity=0); width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
label:before{content:''; margin:0 10px 0 0; display:inline-block; width:15px; height:15px; background: url(assets/images/icon/input.png) 0 0 no-repeat; background-size:15px; vertical-align:middle; cursor:pointer;}
input[type='checkbox']:checked + label:before,
input[type="radio"]:checked + label:before{ background: url(assets/images/icon/input_check.png) 0 0 no-repeat;}
input[type="text"],
input[type="number"],
input[type="tel"] { padding:0 5px;}
/* widget*/
.section_widget{background:#fff; padding:30px; clear:both;}
/* 로그인 페이지*/
.login_wrap{position:absolute; width:411px; margin:0 auto; text-align:center; top:50%; left:50%; transform:translate(-50% , -50%);
	.login_logo{padding-bottom:50px;}
	.login_prologue{margin-top:30px; border-top:1px solid #dee1e6; padding-top:15px; font-size:20px;
		a{color:#000;
			&:hover{color:#5384c6; text-decoration:underline; cursor:pointer;}
		}
	}
}
#vue_wrap,
#main_wrap{ width:100%; height:100%; display:table; background:#f2f2f2; position:relative;}
/* 상단 */
header{ position:absolute; left:0; top:0; z-index:10; width:100%; display:table; padding:0 30px; height:65px; background:$basic_type01; padding-top:17px;
	.left_area{float:left;}
	.right_area{float:right;
		> div{display:inline-block; *display:inline;}
		.user{position:relative; border-right: 1px solid #eaeaea; padding-right:20px; margin-right:20px;
			p{padding-left:5px; display:inline-block; *display:inline; vertical-align:middle;}
			.user_image{
				img{width:40px; height:40px;}
			}
			.user_mask{width:40px; height:40px; position:absolute; top:0px; left:5px; background:url(assets/images/common/mask_type_03.png) 0 0 no-repeat; padding-left:0px;}
		}
		.user_setup{position:relative; display:inline-block; *display:inline; vertical-align:middle; cursor:pointer;
			#set_up{margin-right:20px; border-right:1px solid #eaeaea; padding:8.5px 20px 8.5px 0px;}
			p{display:inline-block; vertical-align:middle; padding:7.5px 0px;}
		}
	}
}

/* 사이드 바 */
aside{position:absolute; top:0; left:0px; padding-top:66px; z-index:2; width: 165px; height:100%;
	.aside-wrap { height:100%; background:#222933; z-index:15; color:$basic_type01; @include boxSizing;}
	a{color:$basic_type01;}
	ul{
		.aside_section{
			&:nth-child(1) .router-link-active{width:165px; height:128px; background:url(assets/images/common/aside_01_on.jpg) 0 0 no-repeat;}
			&:nth-child(2) .router-link-active{width:165px; height:128px; background:url(assets/images/common/aside_02_on.jpg) 0 0 no-repeat;}
			&:nth-child(3) .router-link-active{width:165px; height:130px; background:url(assets/images/common/aside_03_on.jpg) 0 0 no-repeat;}
			&:nth-child(4) .router-link-active{width:165px; height:130px; background:url(assets/images/common/aside_04_on.jpg) 0 0 no-repeat;}
			&:nth-child(5) .router-link-active{width:165px; height:130px; background:url(assets/images/common/aside_05_on.jpg) 0 0 no-repeat;}
			&:nth-child(6) .router-link-active{width:165px; height:146px; background:url(assets/images/common/aside_06_on.jpg) 0 0 no-repeat;}
		}
		.aside_section{width:165px; text-align:center; border-bottom:1px solid #303843; cursor:pointer;
			a{width:165px; height:128px; display:block;}
			&:nth-child(1) a{width:165px; height:128px; background:url(assets/images/common/aside_01_off.jpg) 0 0 no-repeat;
				&:hover{background:url(assets/images/common/aside_01_on.jpg) 0 0 no-repeat;}
			}
			&:nth-child(2) a{width:165px; height:128px; background:url(assets/images/common/aside_02_off.jpg) 0 0 no-repeat;
				&:hover{background:url(assets/images/common/aside_02_on.jpg) 0 0 no-repeat;}
			}
			&:nth-child(3) a{width:165px; height:130px; background:url(assets/images/common/aside_03_off.jpg) 0 0 no-repeat;
				&:hover{background:url(assets/images/common/aside_03_on.jpg) 0 0 no-repeat;}
			}
			&:nth-child(4) a{width:165px; height:130px; background:url(assets/images/common/aside_04_off.jpg) 0 0 no-repeat;
				&:hover{background:url(assets/images/common/aside_04_on.jpg) 0 0 no-repeat;}
			}
			&:nth-child(5) a{width:165px; height:130px; background:url(assets/images/common/aside_05_off.jpg) 0 0 no-repeat;
				&:hover{background:url(assets/images/common/aside_05_on.jpg) 0 0 no-repeat;}
			}
			&:nth-child(6) a{width:165px; height:146px; background:url(assets/images/common/aside_06_off.jpg) 0 0 no-repeat;
				&:hover{background:url(assets/images/common/aside_06_on.jpg) 0 0 no-repeat;}
			}
		}
		.first_section{height:163px; padding-top:23px; background:#2d3541;}
	}
	.user_info_wrap{background:#2d3541; padding:28px 0px; position:relative;
		.u_mask{width:72px; height:72px; position:absolute; top:23px; left:47px; z-index:1; background:url(assets/images/common/mask_type_01.png) 0 0 no-repeat;}
		.u_logo{width:72px; height:72px; margin: 0 auto; margin-bottom:10px; background:$basic_type01;
			img{width:72px; height:72px;}
		}
		.u_info{
			#ad_list_cate{width: 140px; margin:0 auto; padding-right: 10px; text-align:center; background:url(assets/images/icon/arrow_down.png) right 5px no-repeat; cursor:pointer; text-overflow: ellipsis; overflow: hidden;}
			.active{background:url(assets/images/icon/arrow_up.png) right 5px no-repeat!important;}
			pre{font-size:12px; line-height:1.4;
				&:last-child{text-align:center;  font-size:12px; color:#949494;}
			}
		}
	}
}
/* ui - select */
.select_btn{float:left; cursor:pointer;
	.select_contents{position:relative;
		.select{border: $Border_type01;
			p{background:url(assets/images/icon/target_down.png) center right no-repeat; margin-right:10px;}
			p.arrow_up{background:url(assets/images/icon/target_up.png) center right no-repeat;}
		}
		.select_view{width:100%; position: absolute; top:37px; background: #f9f9f9; border:$Border_type01; z-index:1; min-height:40px; max-height:122px; overflow-y:scroll;
			li{height: 40px; line-height: 40px; cursor: pointer; text-indent: 15px;
				label{ display:block; cursor:pointer; }
				&:hover{background: #375b96; color: #fff;}
			}
		}
	}
}
/* 셀렉트 박스 */
.select{ text-indent:12px; font-weight:bold; border-radius:2px; background: url(assets/images/common/select_bg.jpg) 0 0 repeat; background-size:100% 100%;}
/* 메인 */
#container{height:100%; padding-top:65px;
	#container_wrap{ position:relative; z-index:1; height:100%; padding-left:165px; width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box;
		/* 타겟 버튼 */
		.target_setup{width:100%; display:table; margin-bottom:15px;
			button{float:left; text-align:center; display:inline-block; border-radius:5px; font-size:15px;
			 &:hover{font-weight:bold;}
			}
			.left_setup{float:left;}
			.right_setup{float:right;}
		}
		/* 컨텐츠 aside */
		.target_aside{background:$basic_type01; position:absolute; top:0px; left:165px; height:100%; @include boxSizing; z-index:1;
			ul{
				li{width:160px; height:64px; line-height:64px; border-bottom:1px solid #eff2f7; font-size:15px; cursor:pointer;
					&:first-child { border-top:1px solid #eff2f7; }
					a {display:block; color:#666; padding-left:19px;
						span{width:28px; height:16px; line-height:1.6; background:#c9cdd1; border-radius:4px; color:$basic_type01; text-align:center; margin-left:8px; display:inline-block; vertical-align:middle; font-size:12px;}
						&.on{background:#375b96; color:$basic_type01;
							span{background:$basic_type01; color:#375b96;}
						}

					}
				}
			}
		}
		/* 타겟 탭 */
		#section_list_1{
			.target_aside{background:$basic_type01; position:absolute; top:0px; left:165px; height:100%; @include boxSizing; z-index:1;
				ul{
					li{width:160px; height:64px; line-height:64px; border-bottom:1px solid #eff2f7; font-size:15px; cursor:pointer;
						&:first-child { border-top:1px solid #eff2f7; }
						a {display:block; color:#666; padding-left:19px;
							span{width:28px; height:16px; line-height:1.6; background:#c9cdd1; border-radius:4px; color:$basic_type01; text-align:center; margin-left:8px; display:inline-block; vertical-align:middle; font-size:12px;}
							&.on{background:#f2f2f2; color:#333;
								span{background:#375b96; color:#fff;}
							}
						}
					}
				}
			}
			.target_contents_wrap{padding-top:33px; padding-left:189px; padding-right:27px;
				.target_setup{
					.refresh{background:#333;}
					button{ width:121px; height:39px; line-height:39px; color:$basic_type01; background:#375b96; margin-left:10px;}
					.select{width:260px; height:40px; line-height:40px;}
					.select_view{max-height:none!important; overflow-y:hidden!important;}
				}
				.target_contents{width:100%; clear:both; overflow:hidden;
					ul{display: table; width:101%;
						li{width:19%; min-height:338px; background:$basic_type01; display:inline-block; vertical-align:top; box-shadow:$Bshadow_type01; margin-right:1%; padding:12px 23px; margin-bottom:15px; @include boxSizing; border:2px solid #fff;
							&:hover{border:2px solid #375b96;}
						}
					 }
					 .target_icon{
					 	div{width:26px; height:26px; display:inline-block; vertical-align:middle;}
					 	.icon_target{background:url(assets/images/icon/target_icon_n.png) 0 0 no-repeat; margin-right:10px;}
					 	.icon_target.on { background:url(assets/images/icon/target_icon_o.png) 0 0 no-repeat; }
					 	.icon_gragh{background:url(assets/images/icon/graph_icon_n.png) 0 0 no-repeat;}
					 	.icon_gragh.on { cursor:pointer; background:url(assets/images/icon/graph_icon_o.png) 0 0 no-repeat;}
					 	button{float:right; height:26px; line-height:25px; text-decoration:underline;}
					 }

					 .target_info{padding-bottom:35px; border-bottom:1px solid #e7e7e7; text-align:center; margin-top:40px; line-height:1.4; min-height:150px;
					 	p{display:block;
					 		&:first-child{width:100%; font-size:18px; color:#333; word-break: break-all;}
					 		&:last-child{font-size:28px; color:#375b96;}
					 		span{text-shadow: rgba(0,0,0,.01) 0 0 1px; -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;}
					 	}

					 }
					 .target_state{width:100%; display:table; margin-top:20px;
					 	p{padding:6px 14px; background:#e7e7e7; border-radius:40px; color:#666; margin-right:5px; display:inline-block; margin-top:6px;
					 		&:last-child{margin-right:0px;}
					 	}
					 	.new_target{background:#375b96; color:#fff;}
					 }
					 .target_last{ padding:0px; cursor:pointer;}
				}
			}
		}
		.target_contents_wrap{padding:33px 27px 33px 33px;padding-top: 33px; padding-left: 33px; padding-bottom:33px; min-height:884px; padding-right:27px;
		}
		.target_report_wrap{ position:relative; border:$Border_type01; background:$basic_type01;
			.target_setup{width:470px; margin-top:15px; margin-right:15px; float:right;
				.select{width:193px; height:40px; line-height:40px;}
				.select_view{top: 37px; left: 0px;
					li:hover{background:#375b96;}
				}
				.control-select{width: 300px; text-indent: 12px; font-weight: bold; border-radius: 2px; background: url(assets/images/common/select_bg.jpg) 0 0 repeat; background-size: 100% 100%;
					.select { width:100%; }
					p{background:url(assets/images/icon/target_down.png) center right no-repeat; margin-right:10px;}
					p.arrow_up{background:url(assets/images/icon/target_up.png) center right no-repeat;}
					.control_view{max-height:none; position: absolute; top: 39px; left: 0px; height:202px; background: #f9f9f9; border: 1px solid #d0d0d0; z-index: 3; }
				}
			}
			.target_report_contents{ overflow:hidden; clear:both; border-top:2px solid #333;
				.report_contents_inner_wrap{ position:relative; overflow:scroll;
					&::-webkit-scrollbar-track
					{
						-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
						background-color: #F5F5F5;
					}

					&::-webkit-scrollbar
					{
						width: 6px;
						height:6px;
						background-color: #F5F5F5;
					}

					&::-webkit-scrollbar-thumb
					{
						background-color: #375b96;
					}
					#report-list-inner {  }
					#report-list {  position:absolute; left:0; top:0; z-index:10; }
					#report-list-2 { position:relative; z-index:2; padding-left:370px; }
					.table_default { position:absolute; left:0; top:0; z-index:20; white-space: nowrap; }
					.contents_inner{ float:left;
						.depth1{width:auto !important;
							li{width:116px!important; height:50px; line-height:50px; float:left; text-align:right; padding-right:10px; border-right: 1px solid #ededed;
								&:last-child{border-right:0px;}
							}
						}
						.depth2{width:200px !important;
						}
						.depth3{width:auto !important;
							li{width:166px!important; height:50px; line-height:50px; float:left; text-align:right; padding-right:10px; border-right: 1px solid #ededed;
								&:last-child{border-right:0px;}
							}
						}
						.depth4{width:auto !important;
							li{width:171px!important; height:50px; line-height:50px; float:left; text-align:right; padding-right:10px; border-right: 1px solid #ededed;
								&:last-child{border-right:0px;}
							}
						}
						.depth5{width:auto !important;
							li{width:100px!important; height:50px; line-height:50px; float:left; text-align:right; padding-right:10px; border-right: 1px solid #ededed;
								&:last-child{border-right:0px;}
							}
						}
						.normal_depth{width:250px!important;}
						.table_head{ position:relative; letter-spacing:-4px;
							.head_th{
								li{ display: inline-block;  position:relative; width:120px; height:73px; line-height:73px; text-align:center; background:url(assets/images/common/select_bg.jpg) 0 0 no-repeat; background-size:100% 100%; border-right:1px solid #ededed; border-bottom:1px solid #ededed; font-weight:bold; vertical-align:middle; letter-spacing:0px;
									.sort_type_01{position:absolute; top:40%; right:10%;
										p{
											a { display:block; width:9px; height:6px; }
											&:first-child{padding-bottom:1px;}
										}
									}
									.sort_type_02{position:absolute; top:30%; right:10%;
										p{
											a { display:block; width:9px; height:6px; }
											&:first-child{padding-bottom:1px;}
										}
									}
									.asc_sort { background:url(assets/images/icon/report_up.png) no-repeat left top;}
									.desc_sort { background:url(assets/images/icon/report_down.png) no-repeat left top; }
									.asc_sort.on { background:url(assets/images/icon/report_up_on.png) no-repeat left top; }
									.desc_sort.on { background:url(assets/images/icon/report_down_on.png) no-repeat left top; }
								}
								.th_sub{line-height:1.2; padding:0px; width:auto;
									dl{
										dt{padding:10px;}
										dd{ white-space: nowrap;
											li{  height: auto; line-height:36px; background: none; border-top: 1px solid #ededed; border-bottom: 0px; border-right: 1px solid #ededed;
												&:last-child{border-right:0px;}
											}
										}
									}
								}
							}
						}
						.table_body{ padding:73px 0 0 0; letter-spacing:-4px; background-color:#fff;
							.table_body_inner{
								.box-align{-webkit-box-align:end!important; padding-right:10px;}
								.body_th{ white-space: nowrap;
									> li{display: inline-block; white-space: nowrap; overflow:hidden; width:120px; height:47px; text-align:center; border-right:1px solid #ededed; border-bottom:1px solid #ededed; vertical-align:middle; letter-spacing:0px; font-size:13px;
										.line-inner { overflow:hidden; white-space:normal; display:-webkit-box; height:100%; justify-content: center; align-items: center; -webkit-line-clamp:3; -webkit-box-orient:vertical; }
										&.line-8 {
											span {
												&:before { content:'/'; }
												&:first-child:before { content:''; }
											}
										}
										&.line-7 { overflow:visible; }
									}
								}
								&:nth-child(odd) > li{background:#fff;}
								&:nth-child(even) > li{background:#f9fafc;}
							}
						}
					}
					.interest{position:relative;/* height:22px!important; line-height:22px!important;*/
						span{text-decoration:underline; color:#0066cf; cursor:pointer;}
						.interest_view{width:212px; position:absolute; top:100%; left:0px; background:#375b96 url(assets/images/target/interest_icon.png) 0 0 no-repeat; color:#fff; border-radius:2px; z-index:1; padding:15px; font-size:12px; border-radius:2px; display:none;
							ul{letter-spacing: -4px; margin-bottom:10px; text-align:left;
								li{display:inline-block; vertical-align:middle; letter-spacing: 0px; background:url(assets/images/target/slash.png) center right no-repeat; padding-right:7px; }
							}
							.inter_clip_copy{height:34px; line-height:34px; background: #fff; color: #375b96; font-weight: bold; cursor:pointer;}
							.inter_close{height:34px; line-height:34px; font-weight: bold; border: 1px solid #fff; margin-top: 5px; cursor:pointer;}
						}
						/*span:hover + .interest_view{display:block;}*/
					}
				}
			}
		}
		.pagination{margin-top:19px; margin-bottom:32px; text-align:center;
			ul{
				li{width:27px; height:27px; line-height:27px; display:inline-block; vertical-align:middle; border:1px solid #eee; text-align:center; cursor:pointer;
					img{padding:8px;}
				}
				li.now{background:#375b96; color:#fff; border:1px solid #375b96;}
			}
		}
		#section_list_4{width:100%; height:100%; display:table;
			.loading_wrap{display:table-cell; vertical-align:middle; text-align:center; line-height:1.8; padding-bottom:66px;
				.title{color:#333; font-weight:bold; font-size:21px;}
				.prologue{color:#666; font-size:15px;}
				.loading_chart{padding-top:24px;
					#loading {
					display: inline-block; width: 60px; height: 60px; border: 5px solid rgba(000,000,000,.3); border-radius: 50%; border-top-color: #222933; animation: spin 1s ease-in-out infinite; -webkit-animation: spin 1s ease-in-out infinite;
					}
					@keyframes spin {
					to { -webkit-transform: rotate(360deg); }
					}
					@-webkit-keyframes spin {
					to { -webkit-transform: rotate(360deg); }
					}

				}
			}
			/* ui - useless */
			.Useless_wrap{display:table-cell; vertical-align:middle; text-align:center; line-height:1.8; padding-bottom:66px;
				.title{color:#333; font-weight:bold; font-size:21px;}
				.prologue{color:#666; font-size:15px;}
			}
		}
	}
}
/* 광고주 리스트 */
.user_ad_list{position:relative; color:#454545;
	.ad_list_category{width:415px; height:355px; background:$basic_type01; position:absolute; top:0px; left:20px; border:$Border_type01; z-index:2;
		.ad_search_wrap{width:100%; display:table; border-bottom: $Border_type01; background:#f8f8f8;
			.ad_search_box{width:90%; height:50px; float:left; border:0px; text-indent:20px;}
			.ad_submit{width:10%; height:50px; float:right; text-indent:-9999px; background:url(assets/images/icon/submit_btn.jpg) center no-repeat; }
		}
		.ad_search_list{text-align:left; height: 302px; overflow-y: scroll;
			ul{
				li{padding:10px 0px 10px 20px;
					.list_image{display:inline-block; vertical-align:middle; margin-right:15px; width:40px; height:40px;  background:#c5ccdf; border-radius:50%;}
					.list_info{display:inline-block; vertical-align:middle; line-height:1.4;
						div{font-size:12px;}
					}
					&:hover{color:$basic_type01; background:#375b95;}
				}
			}
		}
	}
}

/* page - setting */
.setting_contents_wrap{padding:33px 28px;
	.setting_wrap{ min-width:1130px; background:#fff; border:1px solid #dadedf; padding:15px 17px; margin-bottom:15px;
		.u_mask{width:72px; height:72px; position:absolute; top:0px; left:0px; z-index:1; background:url(assets/images/common/mask_type_04.png) 0 0 no-repeat;}
		> div{display:inline-block; vertical-align:middle;}
		.user_info{position:relative; width:302px; letter-spacing: -4px; border-right:1px solid #dadedf;
			div{font-size:12px; color:#949494; display:inline-block; vertical-align:middle; letter-spacing: 0px;
				&:first-child{width:72px; height:72px; margin-right:17px;
					img{width:72px; height:72px;}
				}
			}
			strong{font-size:14px; color:#333;}

		}
		.user_event,.user_id,.user_pixel{padding:0px 63px; border-right:1px solid #dadedf;
			p{text-align:center;
				&:first-child{font-size:14px; color:#333; padding-bottom:5px;}
				&:last-child{font-size:22px; font-weight:bold; color:#375b96;}
			}
		}
		.user_event{border-right:0px;}
		.setting_btn{
			button { display:block; width:159px; height:40px; line-height:39px; background:#375b96; text-align:center; color:#fff; border-radius:2px; }
		}
	}
}
/* page - setting */

/* ui - Calendar */
.vue-calendar{ position:relative;
	.datepicker>input{height:40px!important; line-height:40px; background: url(assets/images/common/select_bg.jpg) 0 0 repeat; background-size:100% 100%; cursor:pointer; border:1px solid #dadedf;}
	.datepicker-range{width:100%; min-width:auto;
		.datepicker-popup{width:652px; z-index:9; padding:0px; margin:0px; top:39px; right:0px; cursor:default;
			.calendar-list{width:134px; float:left; border-right:1px solid #d0d0d0;
				ul{
					li{ line-height:1.4;
						a { display:block; padding:10px;
							&:hover { background:#375b96; color:#fff;}
							&.active { background:#375b96; color:#fff;}
						}
					}
				}
			}
			.calender-view{float:left;
				.calender-inner-view{width:516px; padding:20px 20px 0px 20px;
					.calendar{width:220px; float:left;
						.calendar-body{width:220px;}
						.calendar-week, .calendar-date{line-height:14.28%;}
					}
					.calendar+.calendar{float:right; padding:0px; margin:0px; border:0px;}
				}
			}
			.calender-btn-wrap{height:50px; line-height:50px; overflow:hidden; clear:both; border-top:1px solid #d0d0d0;
				.calender-inner-wrap{float:right; padding-right:10px;
					.calender-date{float:left;}
					.calender-btn{float:left; letter-spacing: -4px;
						button{height:22px; line-height: 22px; border-radius: 2px; vertical-align:middle; display:inline-block; margin-left:10px; letter-spacing: 0px;}
						.close_btn{width:50px; border:1px solid #666; color:#666;}
						.update_btn{width:80px; color: #fff; background: #375b96;}
					}
				}
			}
		}
	}

}
/* 캘린더 */



/* 팝업 얼랏 */
.check_alert{
	.alert_top{width:352px; text-align:center; padding:40px 0px;
		p{ color:#333; line-height:1.4;
			&:first-child{font-size:16px; font-weight:bold;}
			&:last-child{font-size:14px;}
		}
	}
	.alert_bottom{font-weight:bold; font-size:16px; overflow:hidden;
		button{float:left; width:176px; height:56px; line-height:56px; text-align:center; cursor:pointer;}
		.alert_close{background:#f7f7f7; color:#999;}
		.alert_complete{background:#222933; color:#fff;}
		.complete_v2{width:100%;}
	}
}

/* 소트 */
.asc_sort {display: block; width: 10px; height: 6px; background:url(assets/images/icon/report_up.png) no-repeat left top; cursor:pointer;}
.desc_sort {display: block; width: 10px; height: 6px; background:url(assets/images/icon/report_down.png) no-repeat left top; cursor:pointer;}
.asc_sort.on {display: block; width: 10px; height: 6px; background:url(assets/images/icon/report_up_on.png) no-repeat left top; cursor:pointer;}
.desc_sort.on {display: block; width: 10px; height: 6px; background:url(assets/images/icon/report_down_on.png) no-repeat left top; cursor:pointer;}
.sort_wrap{height:15px!important; padding-left:2px;
	p{
		&:first-child{margin-bottom:1px;}
	}
}
/* 카테고리 */
.target_search_wrap{ position:relative; z-index:11; background:$basic_type01; border:$Border_type01; padding:14px 15px; letter-spacing:-4px; box-shadow:$Bshadow_type01; margin-bottom:26px;
	> div{letter-spacing: 0px; margin-right:0.5%;
		> p{padding-bottom:8px; height:24px;}
		.select_contents{position:relative;}
	}
	.cate_select{width:11.5%; float:left;
		.select_btn{width:100%; height:40px; line-height:38px;  cursor:pointer;}
	}
	.admin_select{width: 37%; float:left;
		.select_btn{width:100%; height:40px; line-height:38px;  cursor:pointer;}
	}
	.data_select{width:39.5%; float:left;
		.select_btn{width:100%; height:40px; line-height:38px;  cursor:pointer;}
	}
	.select_view{position:absolute; top: 37px; left: 0px; background: #f9f9f9; border: 1px solid #d0d0d0; text-indent: 12px; max-height:none; height:202px; overflow-y:scroll; z-index:1;
		li:hover{background:#375b96; color:#fff;}
	}
	.report_search{width:10.5%; background:#375b96; color:$basic_type01; height:40px; line-height:40px; margin-top:24px; float:left; border-radius:2px;}
}

/* 디타겟 팝업 */
.nav_contents_wrap{padding:18px; float:left;
	.contents_title{padding-bottom:18px;
	  span{font-weight:bold;}
	}
}
/* 섹션 위젯*/
.section_widget{background:#fff; padding:30px; clear:both;}

/* 엑셀 버튼 */
.excel_btn{ width:150px; height:40px; border: 1px solid #d0d0d0; background:url(assets/images/common/select_bg.jpg) 0 0 no-repeat; background-size:100% 100%; font-size: 14px!important; font-weight: bold!important; float:right!important; border-radius:2px!important;
	span{display:inline-block; vertical-align:top; height:24px; line-height:24px;}
}

/* 텍스트 정렬 */
.align_left{text-align:left; margin:0px!important; padding:0px!important;}
.align_center{text-align:center; margin:0px!important; padding:0px!important;}
.align_right{text-align:right; margin:0px!important; padding:0px!important;}
