@charset "UTF-8";
/* 팝업 */
.layer-pop-widget {
  position: relative;
  z-index: 100; }
  .layer-pop-widget .result_on {
    background: #ecf7fc; }
  .layer-pop-widget .pop-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  .layer-pop-widget .popup-widget {
    background-color: #fff;
    border-radius: 10px; }
  .layer-pop-widget .pop_title {
    font-weight: bold;
    font-size: 16px;
    background: #222933;
    color: #fff;
    height: 55px;
    line-height: 55px;
    padding: 0px 25px;
    border-radius: 10px 10px 0px 0px; }
  .layer-pop-widget .ok-btn {
    display: block;
    margin: 20px auto 0;
    color: #fff; }
  .layer-pop-widget .close-btn {
    display: block;
    position: absolute;
    right: 9px;
    top: 14px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 25px;
    color: #fff; }
  .layer-pop-widget .chart_close_btn {
    width: 191px;
    height: 43px;
    line-height: 43px;
    margin: 0 auto;
    text-align: center;
    background: #333;
    color: #fff;
    border-radius: 2px;
    margin-top: 18px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold; }
  .layer-pop-widget .pop_tab_wrap {
    margin: 30px 48px;
    overflow: hidden; }
  .layer-pop-widget .popup-contents {
    width: 895px; }
  .layer-pop-widget .sticker_btn {
    background: #e7e7e7;
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    color: #666;
    margin-bottom: 10px;
    padding: 0px 10px; }
    .layer-pop-widget .sticker_btn span {
      background: url(assets/images/target/target_list_close.png) right 8px no-repeat;
      padding-right: 18px;
      display: block; }
  .layer-pop-widget .cate_contents_widget {
    width: 625px;
    margin: 0 auto; }
    .layer-pop-widget .cate_contents_widget ul {
      letter-spacing: -5px; }
      .layer-pop-widget .cate_contents_widget ul:last-child li {
        margin-bottom: 0px; }
      .layer-pop-widget .cate_contents_widget ul li {
        width: 150px;
        height: 140px;
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 0px;
        border: 1px solid #dadedf;
        margin: 2.5px;
        color: #999;
        cursor: pointer; }
        .layer-pop-widget .cate_contents_widget ul li:hover {
          border: 1px solid #375b95;
          color: #375b95; }
        .layer-pop-widget .cate_contents_widget ul li div {
          height: 98px;
          line-height: 98px;
          text-align: center; }
          .layer-pop-widget .cate_contents_widget ul li div img {
            display: inline-block;
            vertical-align: middle; }
        .layer-pop-widget .cate_contents_widget ul li span {
          display: block;
          text-align: center; }
  .layer-pop-widget .cate_contents {
    letter-spacing: -5px; }
    .layer-pop-widget .cate_contents .interlock_btn {
      display: inline-block;
      vertical-align: middle;
      letter-spacing: 0px;
      margin: 0px 14px; }
      .layer-pop-widget .cate_contents .interlock_btn button {
        display: block;
        margin: 5px 0px; }
    .layer-pop-widget .cate_contents .account_wrap {
      width: 370px;
      border: 1px solid #d0d0d0;
      display: inline-block;
      vertical-align: middle;
      letter-spacing: 0px; }
      .layer-pop-widget .cate_contents .account_wrap .advertiser_search {
        width: 100%;
        display: table;
        padding: 10px 22px 10px 10px;
        letter-spacing: -5px;
        border-bottom: 1px solid #e1e1e1; }
        .layer-pop-widget .cate_contents .account_wrap .advertiser_search .search_title {
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          color: #444; }
          .layer-pop-widget .cate_contents .account_wrap .advertiser_search .search_title span {
            color: #375b96;
            font-weight: bold; }
        .layer-pop-widget .cate_contents .account_wrap .advertiser_search div {
          display: inline-block;
          vertical-align: middle;
          letter-spacing: 0px;
          margin-right: 7px; }
          .layer-pop-widget .cate_contents .account_wrap .advertiser_search div:last-child {
            margin-right: 0px; }
        .layer-pop-widget .cate_contents .account_wrap .advertiser_search input[type="text"] {
          width: 204px;
          height: 40px;
          border: 1px solid #d0d0d0; }
        .layer-pop-widget .cate_contents .account_wrap .advertiser_search button {
          width: 55px;
          height: 40px;
          line-height: 40px;
          background: #375b96;
          text-align: center;
          color: #fff; }
      .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result {
        height: 300px;
        margin: 10px;
        border-top: 2px solid #373737; }
        .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_thead, .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_tbody {
          letter-spacing: -5px; }
          .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_thead div, .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_tbody div {
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            height: 42px;
            line-height: 42px;
            letter-spacing: 0px;
            border-right: 1px solid #efefef;
            border-bottom: 1px solid #f1f1f1; }
            .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_thead div:last-child, .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_tbody div:last-child {
              border-right: 0px; }
          .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_thead .result_check, .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_tbody .result_check {
            width: 40px; }
            .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_thead .result_check input, .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_tbody .result_check input {
              width: 100%; }
          .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_thead .result_advertiser, .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_tbody .result_advertiser {
            width: 117px; }
          .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_thead .result_account, .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_tbody .result_account {
            width: 191px; }
        .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_thead {
          background: #fdfdfd;
          font-weight: bold; }
        .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_tbody div {
          height: 33px;
          line-height: 33px; }
        .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_tbody .result_advertiser {
          text-align: left;
          text-indent: 9px; }
        .layer-pop-widget .cate_contents .account_wrap .advertiser_search_result .result_tbody .result_account {
          text-align: left;
          text-indent: 9px; }
  .layer-pop-widget .btn_wrap {
    float: right;
    margin-top: 30px; }
    .layer-pop-widget .btn_wrap button {
      width: 180px;
      margin: 0 auto;
      text-align: center;
      height: 45px;
      line-height: 45px;
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      *display: inline;
      vertical-align: middle;
      border: 1px solid #333; }
    .layer-pop-widget .btn_wrap .before_btn {
      border: 1px solid #375b97;
      color: #375b97; }
    .layer-pop-widget .btn_wrap .next_btn, .layer-pop-widget .btn_wrap .adjust_btn {
      background: #375b97;
      color: #fff;
      margin-left: 8px;
      border: 0px; }
    .layer-pop-widget .btn_wrap .delete_btn {
      background: #ad2b2b;
      color: #fff;
      margin-left: 8px; }

#ad_set_pop_1 .ad_info_wrap {
  background: #e8e8e8;
  padding: 15px 20px; }
  #ad_set_pop_1 .ad_info_wrap .ad_image {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    *display: inline;
    vertical-align: middle; }
  #ad_set_pop_1 .ad_info_wrap .ad_info {
    padding-left: 10px;
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    line-height: 1.4; }
    #ad_set_pop_1 .ad_info_wrap .ad_info div {
      font-size: 12px; }

#ad_set_pop_1 .list-tab-widget .tab-nav-widget {
  width: 100%;
  display: table;
  border: 1px solid #dadedf;
  position: relative; }
  #ad_set_pop_1 .list-tab-widget .tab-nav-widget ul {
    overflow: hidden; }
    #ad_set_pop_1 .list-tab-widget .tab-nav-widget ul li.active a {
      color: #fff; }
      #ad_set_pop_1 .list-tab-widget .tab-nav-widget ul li.active a span {
        border: 1px solid #fff; }
    #ad_set_pop_1 .list-tab-widget .tab-nav-widget ul li {
      width: 33.3333%;
      height: 64px;
      line-height: 64px;
      text-align: center;
      float: left;
      position: relative; }
      #ad_set_pop_1 .list-tab-widget .tab-nav-widget ul li a {
        color: #999;
        display: block; }
        #ad_set_pop_1 .list-tab-widget .tab-nav-widget ul li a span {
          width: 27px;
          height: 27px;
          border: 1px solid #999;
          border-radius: 50%;
          display: inline-block;
          line-height: 27px;
          margin-right: 5px;
          font-weight: bold; }
      #ad_set_pop_1 .list-tab-widget .tab-nav-widget ul li p {
        position: absolute;
        width: 18px;
        height: 66px;
        top: -1px;
        right: -17px;
        z-index: 1;
        background: url(assets/images/common/line_arrow.png) right center no-repeat; }
    #ad_set_pop_1 .list-tab-widget .tab-nav-widget ul li.active {
      background: #375b97;
      color: #fff;
      font-weight: bold; }
      #ad_set_pop_1 .list-tab-widget .tab-nav-widget ul li.active p {
        width: 17px;
        height: 66px;
        top: -1px;
        right: -16px;
        background: url(assets/images/common/blue_arrow.png) right center no-repeat; }

#ad_set_pop_1 .list-tab-widget .cate_prologue {
  margin-bottom: 20px; }
  #ad_set_pop_1 .list-tab-widget .cate_prologue strong {
    font-size: 20px; }
  #ad_set_pop_1 .list-tab-widget .cate_prologue p {
    font-size: 14px;
    padding-top: 5px; }

#ad_set_pop_1 .list-tab-widget .tab-contents-widget {
  /*네오 계정 연동*/ }
  #ad_set_pop_1 .list-tab-widget .tab-contents-widget #tab-list-3 .event_mapping_wrap li.select_btn {
    letter-spacing: -5px;
    margin-bottom: 15px; }
  #ad_set_pop_1 .list-tab-widget .tab-contents-widget #tab-list-3 .event_mapping_wrap li div {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0px; }
  #ad_set_pop_1 .list-tab-widget .tab-contents-widget #tab-list-3 .event_mapping_wrap li .select_title {
    width: 108px;
    height: 40px;
    line-height: 40px; }
  #ad_set_pop_1 .list-tab-widget .tab-contents-widget #tab-list-3 .event_mapping_wrap li .select_contents {
    position: relative; }
    #ad_set_pop_1 .list-tab-widget .tab-contents-widget #tab-list-3 .event_mapping_wrap li .select_contents .select {
      width: 690px;
      height: 40px;
      line-height: 40px;
      border: 1px solid #dadedf;
      text-indent: 15px;
      cursor: pointer; }
      #ad_set_pop_1 .list-tab-widget .tab-contents-widget #tab-list-3 .event_mapping_wrap li .select_contents .select p {
        background: url(assets/images/icon/target_down.png) center right no-repeat;
        margin-right: 10px; }
      #ad_set_pop_1 .list-tab-widget .tab-contents-widget #tab-list-3 .event_mapping_wrap li .select_contents .select p.arrow_up {
        background: url(assets/images/icon/target_up.png) center right no-repeat; }
    #ad_set_pop_1 .list-tab-widget .tab-contents-widget #tab-list-3 .event_mapping_wrap li .select_contents .select_view {
      width: 100%;
      position: absolute;
      top: 37px;
      left: 0px;
      display: none;
      background: #f9f9f9;
      border: 1px solid #dadedf;
      z-index: 1; }
      #ad_set_pop_1 .list-tab-widget .tab-contents-widget #tab-list-3 .event_mapping_wrap li .select_contents .select_view li {
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        text-indent: 15px; }
        #ad_set_pop_1 .list-tab-widget .tab-contents-widget #tab-list-3 .event_mapping_wrap li .select_contents .select_view li:hover {
          background: #375b96;
          color: #fff; }
  #ad_set_pop_1 .list-tab-widget .tab-contents-widget #tab-list-3 .event_mapping_wrap li:last-child {
    margin-bottom: 0px; }

#ad_set_pop_1 .cate_contents_widget .target_pick_01 li:nth-child(1) {
  background: url(assets/images/common/cate_choice_01_off.jpg) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_01 li:nth-child(1):hover {
    background: url(assets/images/common/cate_choice_01_ho.jpg) center 30px no-repeat; }

#ad_set_pop_1 .cate_contents_widget .target_pick_01 li:nth-child(2) {
  background: url(assets/images/common/cate_choice_02_off.jpg) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_01 li:nth-child(2):hover {
    background: url(assets/images/common/cate_choice_02_ho.jpg) center 30px no-repeat; }

#ad_set_pop_1 .cate_contents_widget .target_pick_01 li:nth-child(3) {
  background: url(assets/images/common/cate_choice_03_off.jpg) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_01 li:nth-child(3):hover {
    background: url(assets/images/common/cate_choice_03_ho.jpg) center 30px no-repeat; }

#ad_set_pop_1 .cate_contents_widget .target_pick_01 li:nth-child(4) {
  background: url(assets/images/common/cate_choice_04_off.jpg) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_01 li:nth-child(4):hover {
    background: url(assets/images/common/cate_choice_04_ho.jpg) center 30px no-repeat; }

#ad_set_pop_1 .cate_contents_widget .target_pick_01 li span {
  padding-top: 98px; }

#ad_set_pop_1 .cate_contents_widget .target_pick_01 li.Click_on {
  color: #fff; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_01 li.Click_on:nth-child(1) {
    background: #375b96 url(assets/images/common/cate_choice_01_on.png) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_01 li.Click_on:nth-child(2) {
    background: #375b96 url(assets/images/common/cate_choice_02_on.png) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_01 li.Click_on:nth-child(3) {
    background: #375b96 url(assets/images/common/cate_choice_03_on.png) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_01 li.Click_on:nth-child(4) {
    background: #375b96 url(assets/images/common/cate_choice_04_on.png) center 30px no-repeat; }

#ad_set_pop_1 .cate_contents_widget .target_pick_02 li:nth-child(1) {
  background: url(assets/images/common/cate_choice_05_off.jpg) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_02 li:nth-child(1):hover {
    background: url(assets/images/common/cate_choice_05_ho.jpg) center 30px no-repeat; }

#ad_set_pop_1 .cate_contents_widget .target_pick_02 li:nth-child(2) {
  background: url(assets/images/common/cate_choice_06_off.jpg) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_02 li:nth-child(2):hover {
    background: url(assets/images/common/cate_choice_06_ho.jpg) center 30px no-repeat; }

#ad_set_pop_1 .cate_contents_widget .target_pick_02 li:nth-child(3) {
  background: url(assets/images/common/cate_choice_07_off.jpg) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_02 li:nth-child(3):hover {
    background: url(assets/images/common/cate_choice_07_ho.jpg) center 30px no-repeat; }

#ad_set_pop_1 .cate_contents_widget .target_pick_02 li:nth-child(4) {
  background: url(assets/images/common/cate_choice_08_off.jpg) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_02 li:nth-child(4):hover {
    background: url(assets/images/common/cate_choice_08_ho.jpg) center 30px no-repeat; }

#ad_set_pop_1 .cate_contents_widget .target_pick_02 li span {
  padding-top: 98px; }

#ad_set_pop_1 .cate_contents_widget .target_pick_02 li.Click_on {
  color: #fff; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_02 li.Click_on:nth-child(1) {
    background: #375b96 url(assets/images/common/cate_choice_05_on.png) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_02 li.Click_on:nth-child(2) {
    background: #375b96 url(assets/images/common/cate_choice_06_on.png) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_02 li.Click_on:nth-child(3) {
    background: #375b96 url(assets/images/common/cate_choice_07_on.png) center 30px no-repeat; }
  #ad_set_pop_1 .cate_contents_widget .target_pick_02 li.Click_on:nth-child(4) {
    background: #375b96 url(assets/images/common/cate_choice_08_on.png) center 30px no-repeat; }

#target_pop_01 .cate_contents_widget .target_pick_01 li:nth-child(1) {
  background: url(assets/images/target/target_icon_01.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_01 li:nth-child(1):hover {
    background: url(assets/images/target/target_icon_01_ho.png) center 30px no-repeat; }

#target_pop_01 .cate_contents_widget .target_pick_01 li:nth-child(2) {
  background: url(assets/images/target/target_icon_02.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_01 li:nth-child(2):hover {
    background: url(assets/images/target/target_icon_02_ho.png) center 30px no-repeat; }

#target_pop_01 .cate_contents_widget .target_pick_01 li:nth-child(3) {
  background: url(assets/images/target/target_icon_03.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_01 li:nth-child(3):hover {
    background: url(assets/images/target/target_icon_03_ho.png) center 30px no-repeat; }

#target_pop_01 .cate_contents_widget .target_pick_01 li:nth-child(4) {
  background: url(assets/images/target/target_icon_04.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_01 li:nth-child(4):hover {
    background: url(assets/images/target/target_icon_04_ho.png) center 30px no-repeat; }

#target_pop_01 .cate_contents_widget .target_pick_01 li span {
  padding-top: 98px; }

#target_pop_01 .cate_contents_widget .target_pick_01 li.Click_on {
  color: #fff; }
  #target_pop_01 .cate_contents_widget .target_pick_01 li.Click_on:nth-child(1) {
    background: #375b96 url(assets/images/target/target_icon_01_on.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_01 li.Click_on:nth-child(2) {
    background: #375b96 url(assets/images/target/target_icon_02_on.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_01 li.Click_on:nth-child(3) {
    background: #375b96 url(assets/images/target/target_icon_03_on.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_01 li.Click_on:nth-child(4) {
    background: #375b96 url(assets/images/target/target_icon_04_on.png) center 30px no-repeat; }

#target_pop_01 .cate_contents_widget .target_pick_02 li:nth-child(1) {
  background: url(assets/images/target/target_icon_05.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_02 li:nth-child(1):hover {
    background: url(assets/images/target/target_icon_05_ho.png) center 30px no-repeat; }

#target_pop_01 .cate_contents_widget .target_pick_02 li:nth-child(2) {
  background: url(assets/images/target/target_icon_06.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_02 li:nth-child(2):hover {
    background: url(assets/images/target/target_icon_06_ho.png) center 30px no-repeat; }

#target_pop_01 .cate_contents_widget .target_pick_02 li:nth-child(3) {
  background: url(assets/images/target/target_icon_07.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_02 li:nth-child(3):hover {
    background: url(assets/images/target/target_icon_07_ho.png) center 30px no-repeat; }

#target_pop_01 .cate_contents_widget .target_pick_02 li:nth-child(4) {
  background: url(assets/images/target/target_icon_08.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_02 li:nth-child(4):hover {
    background: url(assets/images/target/target_icon_08_ho.png) center 30px no-repeat; }

#target_pop_01 .cate_contents_widget .target_pick_02 li span {
  padding-top: 98px; }

#target_pop_01 .cate_contents_widget .target_pick_02 li.Click_on {
  color: #fff; }
  #target_pop_01 .cate_contents_widget .target_pick_02 li.Click_on:nth-child(1) {
    background: #375b96 url(assets/images/target/target_icon_05_on.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_02 li.Click_on:nth-child(2) {
    background: #375b96 url(assets/images/target/target_icon_06_on.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_02 li.Click_on:nth-child(3) {
    background: #375b96 url(assets/images/target/target_icon_07_on.png) center 30px no-repeat; }
  #target_pop_01 .cate_contents_widget .target_pick_02 li.Click_on:nth-child(4) {
    background: #375b96 url(assets/images/target/target_icon_08_on.png) center 30px no-repeat; }

#target_pop_02 .target_contents_wrap {
  margin: 28px 22px; }
  #target_pop_02 .target_contents_wrap .target_thead > div {
    margin-bottom: 15px; }
  #target_pop_02 .target_contents_wrap .target_thead .contents_title {
    width: 60px;
    font-size: 14px;
    font-weight: bold; }
  #target_pop_02 .target_contents_wrap .target_thead .main_title > div {
    display: inline-block;
    vertical-align: middle; }
  #target_pop_02 .target_contents_wrap .target_thead .main_title .title_info {
    padding-left: 10px; }
    #target_pop_02 .target_contents_wrap .target_thead .main_title .title_info p:first-child {
      color: #375b96;
      font-weight: bold; }
    #target_pop_02 .target_contents_wrap .target_thead .main_title .title_info p:last-child {
      color: #333;
      font-size: 21px; }
  #target_pop_02 .target_contents_wrap .target_thead .use_wrap {
    letter-spacing: -4px; }
    #target_pop_02 .target_contents_wrap .target_thead .use_wrap > div {
      display: inline-block;
      vertical-align: middle;
      letter-spacing: 0px; }
    #target_pop_02 .target_contents_wrap .target_thead .use_wrap .use_select {
      letter-spacing: -4px; }
      #target_pop_02 .target_contents_wrap .target_thead .use_wrap .use_select > div {
        letter-spacing: 0px; }
      #target_pop_02 .target_contents_wrap .target_thead .use_wrap .use_select .contents_title {
        display: inline-block;
        vertical-align: middle; }
      #target_pop_02 .target_contents_wrap .target_thead .use_wrap .use_select .select_contents {
        position: relative; }
        #target_pop_02 .target_contents_wrap .target_thead .use_wrap .use_select .select_contents .select {
          width: 554px;
          height: 38px;
          line-height: 38px;
          border: 1px solid #dadedf;
          cursor: pointer;
          font-size: 14px; }
        #target_pop_02 .target_contents_wrap .target_thead .use_wrap .use_select .select_contents .select_view {
          width: 100%;
          position: absolute;
          top: 37px;
          left: 0px;
          z-index: 1;
          display: none; }
    #target_pop_02 .target_contents_wrap .target_thead .use_wrap .select_btn {
      display: inline-block;
      vertical-align: middle;
      float: none; }
    #target_pop_02 .target_contents_wrap .target_thead .use_wrap .use_date {
      float: right;
      font-weight: bold; }
      #target_pop_02 .target_contents_wrap .target_thead .use_wrap .use_date div {
        display: inline-block;
        vertical-align: middle; }
      #target_pop_02 .target_contents_wrap .target_thead .use_wrap .use_date input {
        width: 74px;
        height: 38px;
        border: 1px solid #dadedf;
        margin: 0px 10px; }
  #target_pop_02 .target_contents_wrap .target_thead .target_name {
    letter-spacing: -4px; }
    #target_pop_02 .target_contents_wrap .target_thead .target_name div {
      display: inline-block;
      vertical-align: middle;
      letter-spacing: 0px; }
    #target_pop_02 .target_contents_wrap .target_thead .target_name input {
      width: 791px;
      height: 38px;
      line-height: 38px;
      border: 1px solid #dadedf;
      text-indent: 12px; }
  #target_pop_02 .target_contents_wrap .target_thead .target_data {
    letter-spacing: -4px; }
    #target_pop_02 .target_contents_wrap .target_thead .target_data div {
      display: inline-block;
      vertical-align: middle;
      letter-spacing: 0px; }
    #target_pop_02 .target_contents_wrap .target_thead .target_data span {
      color: #375b96;
      font-weight: bold; }
  #target_pop_02 .target_contents_wrap .target_thead .target_type div {
    display: inline-block;
    vertical-align: middle; }
  #target_pop_02 .target_contents_wrap .target_thead .target_type ul {
    display: inline-block;
    vertical-align: middle; }
    #target_pop_02 .target_contents_wrap .target_thead .target_type ul li {
      float: left; }
      #target_pop_02 .target_contents_wrap .target_thead .target_type ul li label:before {
        margin: 0px 8px; }
  #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody {
    padding: 19px 17px;
    border: 1px solid #dadedf;
    /* 계정연동 하지 않았을 경우*/
    /* 계정연동 하지 않았을 경우*/ }
    #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_interlock {
      padding: 95px 0px;
      line-height: 1.5;
      text-align: center; }
      #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_interlock strong {
        font-size: 18px; }
      #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_interlock p {
        font-size: 14px;
        color: #666; }
      #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_interlock button {
        width: 144px;
        height: 33px;
        line-height: 33px;
        color: #fff;
        background: #222933;
        margin-top: 10px; }
    #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_info {
      letter-spacing: -5px;
      margin-bottom: 12px; }
      #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_info > div {
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        margin-right: 10px;
        letter-spacing: 0px; }
      #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_info .select_contents {
        position: relative; }
        #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_info .select_contents .select {
          width: 277px;
          height: 38px;
          line-height: 38px;
          border: 1px solid #dadedf;
          cursor: pointer; }
        #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_info .select_contents .select_view {
          width: 100%;
          position: absolute;
          top: 37px;
          left: 0px;
          z-index: 1;
          display: none; }
      #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_info .account_title {
        width: 210px; }
      #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_info .account_date input {
        width: 79px;
        height: 38px;
        line-height: 38px;
        border: 1px solid #dadedf;
        border-radius: 2px;
        margin-right: 9px; }
    #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap {
      width: 100%;
      border: 0px; }
      #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_left {
        width: 445px;
        float: left; }
        #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_left .advertiser_search_result {
          height: 275px;
          padding: 10px;
          margin: 0px;
          border: 1px solid #dadedf; }
          #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_left .advertiser_search_result .result_thead > div, #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_left .advertiser_search_result .result_tbody > div {
            height: 42px;
            line-height: 42px;
            border-right: 1px solid #dadedf;
            border-bottom: 1px solid #dadedf; }
          #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_left .advertiser_search_result .result_thead li, #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_left .advertiser_search_result .result_tbody li {
            width: 423px; }
            #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_left .advertiser_search_result .result_thead li .result_account, #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_left .advertiser_search_result .result_tbody li .result_account {
              width: 124px; }
            #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_left .advertiser_search_result .result_thead li .result_group, #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_left .advertiser_search_result .result_tbody li .result_group {
              width: 93px; }
            #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_left .advertiser_search_result .result_thead li .result_switch, #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_left .advertiser_search_result .result_tbody li .result_switch {
              width: 166px; }
      #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_right {
        width: 355px;
        height: 334px;
        background: #f8f8f8;
        float: right;
        padding: 12px; }
        #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_right button {
          float: right; }
        #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_right ul {
          clear: both;
          padding-top: 12px;
          overflow: hidden; }
          #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_right ul li {
            margin-bottom: 10px;
            float: left; }
            #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_right ul li span {
              display: inline-block;
              vertical-align: middle; }
            #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_inner_wrap .account_right ul li:last-child {
              margin-bottom: 0px; }
      #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_add_wrap {
        width: 100%;
        display: table;
        margin-top: 10px; }
        #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .account_wrap .account_add_wrap button {
          float: right;
          width: 144px;
          height: 33px;
          line-height: 33px;
          text-align: center;
          background: #000;
          color: #fff;
          border-radius: 2px;
          font-weight: bold; }
    #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .target_generate .account_date .select {
      width: 80px; }
    #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .target_generate .generate_url_list .url_list {
      margin-bottom: 10px; }
      #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .target_generate .generate_url_list .url_list:last-child {
        margin-bottom: 0px; }
      #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .target_generate .generate_url_list .url_list .url_select {
        float: left;
        margin-right: 10px; }
        #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .target_generate .generate_url_list .url_list .url_select .select {
          width: 106px;
          height: 38px;
          line-height: 38px; }
      #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .target_generate .generate_url_list .url_list .url_input {
        float: left; }
        #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .target_generate .generate_url_list .url_list .url_input input {
          width: 559px;
          height: 38px;
          line-height: 38px;
          border: 1px solid #dadedf;
          border-radius: 2px; }
    #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .google_analytics .generate_url_list .url_list .url_select .select {
      width: 210px; }
    #target_pop_02 .target_contents_wrap .target_tbody .target_inner_tbody .google_analytics .generate_url_list .url_list .url_input input {
      width: 595px;
      text-indent: 12px; }
  #target_pop_02 .target_contents_wrap .target_tbody .analytics_tab_wrap {
    padding-top: 14px; }
    #target_pop_02 .target_contents_wrap .target_tbody .analytics_tab_wrap .analytics_tab_widget {
      border-left: 1px solid #d0d0d0; }
      #target_pop_02 .target_contents_wrap .target_tbody .analytics_tab_wrap .analytics_tab_widget ul li.active {
        background: #f8f8f8;
        border: 1px solid #000;
        border-bottom: 0px; }
      #target_pop_02 .target_contents_wrap .target_tbody .analytics_tab_wrap .analytics_tab_widget ul li {
        width: 91px;
        height: 39px;
        line-height: 39px;
        text-align: center;
        float: left;
        border: 1px solid #d0d0d0;
        border-bottom: 1px solid #000;
        border-left: 0px;
        cursor: pointer; }
    #target_pop_02 .target_contents_wrap .target_tbody .analytics_tab_wrap .analytics_tab_list {
      width: 100%;
      height: 166px;
      background: #f8f8f8;
      padding: 16px 10px 0px 10px; }
      #target_pop_02 .target_contents_wrap .target_tbody .analytics_tab_wrap .analytics_tab_list .analytics_tab_contents ul li {
        float: left;
        margin-right: 10px; }
        #target_pop_02 .target_contents_wrap .target_tbody .analytics_tab_wrap .analytics_tab_list .analytics_tab_contents ul li:last-child {
          margin-right: 0px; }

#target_pop_02 .target_excel .account_left {
  width: 445px;
  height: 334px;
  border: 1px solid #dadedf;
  text-align: center;
  padding-top: 80px; }
  #target_pop_02 .target_excel .account_left > strong {
    font-size: 18px;
    line-height: 2; }
  #target_pop_02 .target_excel .account_left p {
    font-size: 14px;
    line-height: 1.4; }
  #target_pop_02 .target_excel .account_left .excel_wrap {
    width: 340px;
    margin: 0 auto;
    margin-top: 20px; }
    #target_pop_02 .target_excel .account_left .excel_wrap .download_wrap button strong {
      font-size: 12px; }
    #target_pop_02 .target_excel .account_left .excel_wrap .download_wrap button:first-child {
      float: left; }
    #target_pop_02 .target_excel .account_left .excel_wrap .download_wrap button:last-child {
      float: right;
      text-decoration: underline; }
    #target_pop_02 .target_excel .account_left .excel_wrap .input_wrap {
      margin-top: 10px; }
      #target_pop_02 .target_excel .account_left .excel_wrap .input_wrap div {
        float: left; }
        #target_pop_02 .target_excel .account_left .excel_wrap .input_wrap div input {
          width: 300px;
          height: 40px;
          line-height: 40px;
          border: 1px solid #dadedf; }
      #target_pop_02 .target_excel .account_left .excel_wrap .input_wrap button {
        width: 40px;
        height: 40px;
        float: left;
        background: #375b96 url(assets/images/target/excel_btn.jpg) 0 0 no-repeat; }
    #target_pop_02 .target_excel .account_left .excel_wrap .upload_btn {
      width: 144px;
      height: 33px;
      line-height: 33px;
      background: #000;
      text-align: center;
      color: #fff;
      margin-top: 15px; }

#target_chart {
  background: #f5f5f5; }
  #target_chart .target_chart_graph_wrap {
    padding: 30px 25px;
    padding-bottom: 0px; }
    #target_chart .target_chart_graph_wrap .target_chart_select {
      margin-bottom: 12px; }
      #target_chart .target_chart_graph_wrap .target_chart_select .select_btn {
        float: right; }
        #target_chart .target_chart_graph_wrap .target_chart_select .select_btn .select {
          width: 350px;
          height: 40px;
          line-height: 40px; }
          #target_chart .target_chart_graph_wrap .target_chart_select .select_btn .select p {
            background: url(assets/images/icon/calendar.png) center right no-repeat; }
    #target_chart .target_chart_graph_wrap .target_chart_top .use_limit {
      position: relative; }
    #target_chart .target_chart_graph_wrap .target_chart_top .prologue_area .prologue_view {
      display: none;
      width: 329px;
      padding-bottom: 4px;
      color: #fff;
      background: url(assets/images/target/prologue_type01.png) center bottom no-repeat;
      position: absolute;
      top: -67px;
      left: 44px;
      z-index: 1; }
      #target_chart .target_chart_graph_wrap .target_chart_top .prologue_area .prologue_view p {
        background: #222933;
        padding: 15px 10px;
        color: #fff;
        font-size: 12px;
        line-height: 1.4;
        font-weight: normal; }
    #target_chart .target_chart_graph_wrap .target_chart_top > div {
      width: 186px;
      height: 186px;
      float: left;
      background: #fff;
      margin-left: 18px;
      padding-top: 108px; }
      #target_chart .target_chart_graph_wrap .target_chart_top > div p {
        font-size: 17px;
        text-align: center; }
        #target_chart .target_chart_graph_wrap .target_chart_top > div p:last-child {
          font-size: 24px;
          font-weight: bold;
          color: #375b96; }
      #target_chart .target_chart_graph_wrap .target_chart_top > div:first-child {
        width: 233px;
        height: 186px;
        background: #375b96;
        color: #fff;
        margin-left: 0px;
        padding: 20px 16px;
        clear: both; }
        #target_chart .target_chart_graph_wrap .target_chart_top > div:first-child p {
          text-align: left;
          clear: both; }
        #target_chart .target_chart_graph_wrap .target_chart_top > div:first-child span {
          float: left; }
          #target_chart .target_chart_graph_wrap .target_chart_top > div:first-child span:last-child {
            padding-left: 4px;
            cursor: pointer; }
    #target_chart .target_chart_graph_wrap .target_chart_top .use_limit {
      font-size: 17px;
      color: #fff; }
      #target_chart .target_chart_graph_wrap .target_chart_top .use_limit strong {
        font-size: 38px;
        line-height: 2; }
    #target_chart .target_chart_graph_wrap .target_chart_top .expense_price {
      background: #fff url(assets/images/target/chart_01.jpg) center 28px no-repeat; }
      #target_chart .target_chart_graph_wrap .target_chart_top .expense_price p {
        line-height: 1.4; }
    #target_chart .target_chart_graph_wrap .target_chart_top .all_switch {
      background: #fff url(assets/images/target/chart_02.jpg) center 28px no-repeat; }
      #target_chart .target_chart_graph_wrap .target_chart_top .all_switch p {
        line-height: 1.4; }
    #target_chart .target_chart_graph_wrap .target_chart_top .cpa_chart {
      background: #fff url(assets/images/target/chart_03.jpg) center 28px no-repeat; }
      #target_chart .target_chart_graph_wrap .target_chart_top .cpa_chart p {
        line-height: 1.4; }
    #target_chart .target_chart_graph_wrap .target_chart_wrap {
      background: #fff;
      clear: both;
      margin-top: 12px;
      border: 1px solid #ebeef3;
      border-top: 0px; }
      #target_chart .target_chart_graph_wrap .target_chart_wrap h2 {
        height: 38px;
        font-size: 18px;
        line-height: 38px;
        font-weight: bold;
        border-top: 1px solid #ebeef3;
        border-bottom: 1px solid #ebeef3;
        padding-left: 23px;
        background: url(assets/images/common/select_bg.jpg) 0 0 repeat;
        background-size: 100% 100%; }

.echarts {
  clear: both;
  width: 100%;
  height: 370px; }

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease; }

.modal-wrapper {
  display: table-cell;
  vertical-align: middle; }

.modal-container {
  display: table;
  width: 300px;
  margin: 0px auto;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif; }

.modal-header h3 {
  margin-top: 0;
  color: #42b983; }

.modal-body {
  margin: 20px 0; }

.modal-default-button {
  float: right; }

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
  opacity: 0; }

.modal-leave-active {
  opacity: 0; }
